<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <img src="~/img/Pontuslogo.png" />
        <ol>
            <li>@Html.ActionLink("Contact me", "Contact", "Home");</li>
            <li>@Html.ActionLink("About", "About", "Home");</li>
            <li>@Html.ActionLink("Projects", "Projects","Home");</li>
            <li>
                <a asp-action="Fever" asp-controller="Fever">Fever check</a>
            </li>
        </ol>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer><h3> &copy; Pontus Date : @DateTime.Now</h3></footer>
</body>
</html>
